* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination a.page-link {
    display: block;
    padding: 3px;
    width: 100%;
    height: 100%;
    background-color: #232323;
    text-align: center;
    border: unset;
    color: var(--titleColor);
    font-family: avo;
}


body,
html {
    width: 100%;
    height: 100%;
    font-size: 95%;
}

body {
    background-color: #232323;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

@font-face {
    font-family: avo;
    src: url(../fonts/UTM_Avo.ttf);
}

@font-face {
    font-family: avobold;
    src: url(../fonts/UTM_AvoBold.ttf);
}

@font-face {
    font-family: came;
    src: url(../fonts/Caramello-Free.ttf);
}

:root {
    --textColor: #bebebe;
    --titleColor: #ffffff;
}

body section {
    position: relative;
}

body::-webkit-scrollbar-track {
    background-color: #ccc;
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 5px;
}

p {
    color: var(--titleColor);
    font-family: avo;
}

.section-title p {
    font-size: 0.875em;
    font-family: avo;
    opacity: 0.8;
}

/* --- HEADER --- */
header {
    width: 100%;
}

#menu-ngang {
    z-index: 9999;
    width: 100vw;
    position: fixed;
    padding-top: 0px;
}

#menu-ngang .navbar-toggler-icon {
    color: var(--textColor);
}

#landing-menu ul li a.nav-link {
    color: var(--textColor);
    text-transform: uppercase;
    font-size: 0.8125em;
    font-family: avo, avo;
    padding-top: 0px !important;
    transition: .4s ease-out;
}

#landing-menu ul li a.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.landing-logo img {
    width: 85%;
}

#landing-menu {
    justify-content: flex-end;
}

.gradient-text {
    background: -webkit-linear-gradient(left, #7fcef8 0%, #4b4b97 70%);
    background: -o-linear-gradient(left, #7fcef8 0%, #4b4b97 70%);
    background: linear-gradient(45deg, #82d5fd 0%, #4b4b97 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    position: relative;
    visibility: visible !important;
}

.text-title {
    font-family: avo;
    font-size: 1.25em;
    color: var(--titleColor);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5em;
    /* margin-left: 3em; */
    margin-bottom: 1em;
}

.bottom-line::after {
    content: '';
    position: absolute;
    width: 80px;
    color: #386285;
    background-color: #386285;
    height: 2.5px;
    bottom: 0;
    left: 0;
}

.projects__title h2.bottom-line::after {
    left: 50%;
    transform: translateX(-50%);
}

#form-dang-ki {
    padding: 2em 1em;
    border: 3px solid #B969EC;
    position: absolute;
    right: 10%;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 15px;
    background: transparent;
    display: block;
    width: 345px;
}

#form-dang-ki h2 {
    padding-bottom: 8px;
    font-family: avobold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

#form-dang-ki form input,
#form-dang-ki form textarea {
    border-radius: 0px !important;
    background-clip: inherit;
    border: 0px !important;
    opacity: 0.6;
    padding: 0.5em;
    /* margin-bottom: 2em; */
}

#form-dang-ki form .btn-regis {
    margin: 0 auto;
    display: block;
    color: var(--titleColor);
    background-color: transparent;
    border: 2px solid #83eaeff5 !important;
    padding: 0.375rem 1.25rem;
    cursor: pointer;
}

#company-title {
    line-height: 1;
    font-size: 3.5em;
    font-family: avobold;
    /* margin-left: 1em; */
}

#registration {}

.vertical-scrolling:first-child .fp-tableCell {
    display: block !important;
}

#fp-nav ul li {
    height: 50px;
    position: relative;
}

#fp-nav ul li:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: #fff;
    display: block;
    left: 6px;
    top: 36px;
    opacity: 0.1;
}

#fp-nav ul li:last-child:after {
    height: 0px;
    width: 0px;
}

#fp-nav ul li a span p {
    display: block;
    position: absolute;
    top: -2px;
    left: 35px;
    max-width: 353px;
    width: 200px;
    text-transform: uppercase;
    color: var(--titleColor);
    font-size: 0.8em;
    margin-bottom: 0px !important;
    z-index: 9999;
    font-family: avo;
}

#fp-nav ul li a span {
    display: block;
    background: transparent;
    border: 1px solid #ffffff69;
    width: 15px;
    height: 15px;
    margin: -5px 0 0px -8px;
    border-radius: 50%;
}

#fp-nav ul li a.active span {
    width: 20px;
    height: 20px;
    background: #ffffff;
    margin: -10px 0 0 -10px;
    color: var(--textColor);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.fullbg {
    width: 60vw;
    height: 100vh;
    background-size: cover !important;
    float: left;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    background-position: center center;
    background-position-x: center !important;
}

.context-desc {
    float: left;
    width: 40vw;
    position: relative;
    height: 100vh;
    vertical-align: top;
}

.section-title {
    width: 100%;
    padding-top: 7em;
    padding-left: 10%;
}

.context-desc h2 {
    font-family: avobold;
    font-size: 1.8em;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

#navy__themanh .context-desc h2 {
    /* margin-bottom: 2.5em; */
}

section {
    height: 100vh;
    overflow: hidden;
}

.section-content {
    width: 100%;
    padding: 3px;
    margin-top: 1.5em;
    background-image: linear-gradient(60deg, #7fcef8 0%, #4b4b97 70%);
    position: relative;
    margin-left: 5%;
}

.section-content div.align-content-center {
    background-color: #232323;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.section-content div.align-content-center ul {
    list-style-type: none;
}

.section-content div.align-content-center ul li:before {
    content: "\2022";
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: inline-block;
    width: 0.5em;
    font-size: 1.5em;
}

.section-content h3 {
    font-family: avobold;
    color: var(--titleColor);
    font-size: 1em;
    margin-bottom: 0em;
}

.section-content ul li {
    color: var(--titleColor);
    opacity: 0.8;
    font-family: avo;
    font-size: 0.875em;
}

#frame-video {
    box-sizing: border-box;
}

.bg-video {
    width: 97%;
}

#frame-video .embed-responsive {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container-section {
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    background-position: center center;
    background-position-x: center !important;
}

.abimg {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 72vh;
    position: relative;
    top: -150px;
}

.section-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*margin-top: 25%;*/
    margin-left: 12%;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: 0;
}

#context-project .section-buttons {
    margin-top: 35%;
}

.section-buttons span {
    margin-bottom: 1.5em;
    padding: 3px;
    display: block;
    width: 200px;
    text-align: center;
    background-image: linear-gradient(60deg, #7fcef8 0%, #4b4b97 70%);
}

.linked-prj {
    padding-left: 5%;
    text-decoration: none;
    color: var(--titleColor);
    margin-top: 10%;
    position: relative;
    padding-top: 10px;
    font-family: avo;
    font-size: 0.875em;
}

.linked-prj:after {
    content: '';
    position: absolute;
    width: 80px;
    color: #386285;
    background-color: #386285;
    height: 2.5px;
    top: 0;
    left: 33px;
}

.linked-prj:hover {
    text-decoration: none;
    color: var(--titleColor);
}

.fullbg {
    position: relative;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-buttons span a {
    background-color: #232323;
    padding: 0.5em 10px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    color: var(--titleColor);
    text-transform: uppercase;
}

.section-buttons span a i {
    float: right;
    line-height: 20px;
}

.vertical-scrolling {
    position: relative;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: inherit;
}

#lienhe_div .audio-player .card ul li.active:before {
    content: '' !important;
}

#lienhe_div .audio-player.card {
    max-width: 315px;
    margin-top: 10%;
}

.navbar-nav li.active:before {
    content: '' !important;
    display: none;
}

/*.section-lienhe { padding-top: 10%; }*/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(60deg, #66bfe9 0%, #2c2c7d 70%);
    width: 100vw;
    height: 90px;
    background-size: cover;
    background-position: center;
    padding-left: 1em;
}

.footer-contact {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.footer-contact a {
    display: inline-block;
    color: #ffffff;
}

.footer-contact a img {
    width: 100% !important;
}

#lienhe_div {
    position: relative;
}

#frame-contact {
    padding-top: 5%;
}

#lienhe_div {
    background-image: url(../images/bg-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#fp-nav {
    margin-top: 0px !important;
    top: 52%;
    transform: translateY(-50%);
    left: 10px !important;
}

#frame-contact .col-md-3.text-center {
    margin-left: 10em;
}

#lienhe_div #audio-name p {
    font-family: came;
    font-size: 2.25em;
    color: #4c4d99;
    margin-bottom: 0;
    padding: 0em;
    vertical-align: middle;
    display: inline-block;
}

/* Trang cac du an */
.banner-cacduan {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.projects__title {
    padding-top: 10%;
    position: relative;
    z-index: 9999;
}

.projects__title h2 {
    font-family: avobold;
    font-size: 1.8em;
    padding-bottom: 8px;
}

#projects__content {
    /* margin-top: 55px; */
}

.tieude-tab {
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pics {
    display: block;
    width: 100%;
    margin-bottom: 4em;
}

.pagination {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.products__title h4 {
    font-size: 1em;
    font-family: avobold;
    color: var(--titleColor);
    margin: 0.5em 0px;
}

.products__title p {
    font-family: avo;
    word-wrap: break-word;
    opacity: 0.8;
    font-size: 0.825em;
}

.tieude-tab li.nav-item a {
    display: block;
    padding: 3px;
    text-align: center;
    background-image: linear-gradient(60deg, #7fcef8 0%, #4b4b97 70%);
    font-size: 1em;
    font-family: avo;
}

.tieude-tab li.nav-item a span {
    background-color: #232323;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1em;
    display: block;
    color: var(--titleColor);
    text-transform: uppercase;
}

.tieude-tab li.nav-item a.active {
    background-image: none;
    background-color: #ffffff;
}

.tieude-tab li.nav-item a.active span {
    background-image: linear-gradient(60deg, #7fcef8 0%, #4b4b97 70%);
}

.pagination b.page-link {
    background-image: none;
    border: 0px;
    color: var(--titleColor);
    font-family: avo;
    vertical-align: middle;
    font-size: 1.125em;
    padding: 3px;
    background-color: transparent;
}

.pagination li {
    background-image: none;
    border: 0px;
    color: var(--titleColor);
    font-family: avo;
    vertical-align: middle;
    font-size: 1.125em;
    padding: 3px;
    background-color: transparent;
    width: 35px;
    height: 40px;
}

/*.pagination li:first-child span,*/
/*.pagination li:last-child span {*/
    /*background-color: transparent;*/
    /*background-image: none;*/
    /*padding: 0.5em;*/
/*}*/

.pagination li span {
    display: block;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: #232323;
    text-align: center;
    font-family: avo;
}

.pagination li.active {
    background-image: linear-gradient(60deg, #7fcef8 0%, #4b4b97 70%) !important;
}

.pagination li.active:before {
    font-family: unset;
    content: '' !important;
    padding-right: 0px;
    display: inherit;
}


.project__footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: -webkit-linear-gradient(330deg, #66bfe9 0%, #2c2c7d 70%);
    background-image: -o-linear-gradient(330deg, #66bfe9 0%, #2c2c7d 70%);
    background-image: linear-gradient(60deg, #66bfe9 0%, #2c2c7d 70%);
    position: relative;
}

.project__footer img {
    width: 15%;
    display: block;
    padding-left: 1em;
}

#lienhe_div #thumbnail {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.themanh__btn {
    padding: 0.7em 1.8em;
    background-image: linear-gradient(60deg, #66bfe9 0%, #2c2c7d 70%);
    color: var(--titleColor);
    text-transform: uppercase;
    margin: 69px auto 0px;
    display: block;
    text-align: center;
    width: 40%;
}

.themanh__btn:hover {
    text-decoration: none;
    color: var(--titleColor);
    text-align: center;

}

#sound-logo__content,
#brand-voice__content,
#brand-song__content,
#song-part,
#music-part {
    width: 80%;
    overflow-x: hidden;
    transition: 0.4s ease-out;
}

#sound-logo__content p,
#brand-voice__content p,
#brand-song__content p,
#song-part p,
#music-part p {
    font-size: 0.875em;
    font-family: avo;
    color: var(--titleColor) !important;
    margin-bottom: 5px;
}

.blog-link {
    margin-top: 20px;
}

.blog-link a {
    font-size: 1em;
    font-family: avo;
    color: var(--titleColor);
}

.blog-link a:hover {
    text-decoration: none;
}

.pics .card-body {
    flex: 50%;
    max-width: 50%;
}

.pics .sound-wrapper {
    flex: 50%;
    max-width: 50%;

}
.pics  ul.playlist {
    width: 100%;
    vertical-align: middle;
    overflow-y: scroll;
    max-height: 200px;
}
.gallery-img {
    width: 100%;
    max-height: 250px;
    overflow-y: hidden;
    padding: 1em;
    background-color: #1b1b1b;
}

.gallery-img h3 {
    font-family: avo;
    color: var(--titleColor);
    font-size: 1.5em;
    margin-top: 5px;
}

.gallery-img--item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    border-bottom: 1px solid #ffffff2b;
}

.gallery-img--item img {
    border-radius: unset;
    max-height: 100px;
    border: 1px solid #ffffff;
}

i.far.fa-pause-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
}

i#pause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

i.far.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
}

.pics>.embed-responsive video {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.row.align-items-center.mt-4.mb-3.mx-0 {
    position: relative;
    margin: 0px !important;
}

i#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#lienhe_div .card {
    background-color: #d7d7d7;
    border: 0px;
    border-radius: 0px;
    max-height: 600px;
}

#lienhe_div .card-body {
    padding: 0.8125em 0.8125em 0px 0.8125em;
}

#footer img {
    width: 20%;
    display: block;
    padding: 1em;
}

/*
    cac san pham tuong tu
*/
.pics {
    width: 100%;
}

.pics a:hover {
    text-decoration: none;
    color: var(--titleColor);
}

.pics .card {
    display: flex;
    justify-content: normal;
    background-color: #1b1b1b;
    flex-direction: row;
    vertical-align: middle;
    padding: 1em;
    border-radius: 0px;
    max-height: 250px;
}

.pics ul.playlist.list-group li:before {
    content: '' !important;
}

.pics ul.playlist.list-group li {
    cursor: pointer;
    background: transparent;
    color: var(--titleColor);
    border-bottom: 1px solid #f6f6f652 !important;
    border-top: unset;
    font-family: avo;
}

.pics ul.playlist.list-group li.active {
    border-color: unset;
    background-image: linear-gradient(60deg, #7fcef8 0%, #4b4b97 70%);
    border-bottom: unset !important;
}

.mp3-icon {
    width: 100%;
    position: relative;
}

.pics ul.playlist::-webkit-scrollbar-track {
    background-color: #ccc;
}

.pics ul.playlist::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.mp3-icon .fa-play-circle:before,
.mp3-icon .fa-pause-circle:before {
    color: #ffffff;
    cursor: pointer;
}

.pics ul.playlist::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 5px;
}

/* 
    wild animals
 */
main {
    display: block;
    width: 100vw;
    padding: 60px 0px 0px;
    margin-top: 2em;
}

.img-section {
    min-height: 470px;
    position: relative;
}

.img-section--dark {
    background-color: #151515;
    color: #ffffff;
}

.img-section--light {
    background-color: #ffffff;
    color: #151515;
    overflow-y: hidden;
}

.img-section__img {
    width: 0vw;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 1.5s cubic-bezier(0.65, 0.05, 0, 1);
    -o-transition: all 1.5s cubic-bezier(0.65, 0.05, 0, 1);
    transition: all 1.5s cubic-bezier(0.65, 0.05, 0, 1);
}

.img-section--active .img-section__img,
.no-js .img-section__img {
    width: 60vw;
}

.img-section--right .img-section__img,
.img-section--right .img-section__img img {
    right: 0;
}

.img-section--right .img-section__img img {
    -webkit-transform: translateY(-50%) translateX(150px);
    -ms-transform: translateY(-50%) translateX(150px);
    transform: translateY(-50%) translateX(150px);
}

.img-section--active.img-section--right .img-section__img img {
    -webkit-transform: translateY(-50%) translateX(0px);
    -ms-transform: translateY(-50%) translateX(0px);
    transform: translateY(-50%) translateX(0px);
}

.img-section--left .img-section__img,
.img-section--left .img-section__img img {
    left: 0;
}

.img-section--left .img-section__img img {
    -webkit-transform: translateY(-50%) translateX(-150px);
    -ms-transform: translateY(-50%) translateX(-150px);
    transform: translateY(-50%) translateX(-150px);
}

.img-section--active.img-section--left .img-section__img img {
    -webkit-transform: translateY(-50%) translateX(0px);
    -ms-transform: translateY(-50%) translateX(0px);
    transform: translateY(-50%) translateX(0px);
}

.img-section__img img {
    min-width: 60vw;
    min-height: 100%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 2s cubic-bezier(0, 0, 0, 1);
    -o-transition: all 2s cubic-bezier(0, 0, 0, 1);
    transition: all 2s cubic-bezier(0, 0, 0, 1);
}

.img-section__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    position: absolute;
    padding: 70px;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.no-js .img-section__copy,
.img-section__copy--visible {
    opacity: 1;
}

.img-section--right .img-section__copy {
    left: 0;
    bottom: 0px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.img-section--left .img-section__copy {
    right: 0;
    top: -50px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.img-section--dark .img-section__copy {
    background-color: #151515;
}

.img-section--light .img-section__copy {
    background-color: #ffffff;
}

.img-section__copy__content {
    width: 75%;
}

.img-section--light p {
    font-family: avo;
    font-size: 0.875em;
    color: #141414;
}

.img-section--dark p {
    font-family: avo;
    font-size: 0.875em;
    color: #ffffff;
}

.img-section__copy__content img {
    width: 100%;
}

.img-section__title,
.img-section__category,
.img-section__sub-title {
    line-height: 1em;
}

.img-section__title {
    font-size: 30px;
    margin: 0 0 20px 0;
    font-family: avobold;
    text-transform: uppercase;
}

.img-section__category {
    font-size: 21px;
    font-style: italic;
    margin: 0 0 0 0;
}

.img-section__sub-title {
    font-size: 20px;
    font-weight: normal;
    margin: 50px 0 0 0;
    text-transform: uppercase;
}

.projects__same h2 {
    text-transform: uppercase;
    color: var(--titleColor);
}

.div-video {
    width: 100%;
    padding: 60px 0px 0px;
}

.back-home {
    width: 100%;
    padding: 1em;
}

.back-home a {
    color: var(--titleColor);
    font-family: avo;
    font-size: 0.875em;
}

.back-home a:hover {
    text-decoration: none;
    color: var(--titleColor);
}

.producing-products {
    width: 100%;
    background-color: #1b1b1b;
    padding: 10px 0px;
    box-shadow: 10px 10px 15px -8px rgba(0, 0, 0, 0.75);
}

.producing-products--item,
.products-item--title {
    width: 100%;
    padding: 1em;
}

.products-item--title h3 {
    font-family: avobold;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--titleColor);
}

.products-item--title p {
    color: #6895cc;
    font-family: avo;
}

.products-item--title p.font-italic {
    font-family: avo;
    color: var(--textColor);
    font-weight: 550;
    font-size: 0.875em;
}

.link-social a {
    margin-right: 3px;
}

.link-social a i {
    color: var(--titleColor);
}

.item-music h3 {
    font-family: avo;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--titleColor);
}

.item-music p {
    font-family: avo;
    color: var(--textColor);
    font-weight: 550;
    font-size: 1em;
}

ul.some-works {
    max-width: 100%;
    display: -webkit-box;
    overflow-x: scroll;
    justify-content: space-between;
    list-style: none;
    flex-basis: 100px;
}

.some-works::-webkit-scrollbar-track {
    background-color: #BBBBBB;
    cursor: pointer !important;
}

.some-works::-webkit-scrollbar {
    height: 8px;
    background-color: #BBBBBB;
    cursor: pointer !important;
}

.some-works::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 5px;
    cursor: pointer !important;
}

.some-works--item {
    padding: 1.5em 1.5em 0px;
    max-width: 25%;
    /* flex-grow: 1; */
    /* flex: 25% !important; */
    cursor: pointer;
    margin-bottom: 1em;
}

.some-works--title p {
    margin-bottom: 0px;
    font-family: avo;
}

.video-name {
    font-size: 1em !important;
    color: var(--titleColor) !important;
    font-weight: 500 !important;
}

.video-duration {
    font-size: 0.875em !important;
    color: #6895cc !important;
}

.sound-wave {
    width: 100%;
    background-color: #1b1b1b;
    max-height: 63px;
}
canvas{
    height: 100%;
    width: 100%;
}

/* Media query */
@media (max-width: 767px) {
    * {}

    .pagination li span {
        padding: 5px;
    }

    span {}

    .pagination li.page-item {
        height: 35px;
        width: 25px;
        padding: 2px;
    }

    h2.img-section__title {
        font-size: 24px;
        text-align: center;
    }

    .back-home a {
        text-align: center;
        margin: 0 auto;
        display: inherit;
    }

    main {
        padding-top: 0px;
    }

    .pics ul.playlist {
        max-height: 150px;
    }

    #lienhe_div #thumbnail {
        height: 250px;
    }

    .footer-contact img.img-fluid {
        width: 80% !important;
    }

    .project__footer img.img-fluid {
        width: 30%;
    }

    ul.pagination {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project__footer {
        /* padding: 2em 0px; */
        height: 50px;
    }

    .tieude-tab li.nav-item {
        margin-bottom: 1em;
    }

    ul#myTab {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .banner-cacduan {
        position: static;
    }

    header li.nav-item:nth-child(2) {
        display: block;
    }

    span.footer-contact {
        /* bottom: 5px; */
    }

    #frame-contact .col-md-3.text-center {
        margin-left: 0px;
    }

    #footer img {
        width: 40%;
        padding: 1em;
    }

    body {
        overflow-x: hidden;
    }

    .container-section {
        max-height: 300px;
        width: 100vw;
    }

    .section-content {
        margin-left: 0px;
    }

    #footer h2 {
        font-size: 2em;
    }

    footer#footer {
        height: 60px;
    }

    input.btn.btn-regis {
        width: 31% !important;
        margin-bottom: 10px !important;
    }

    #form-dang-ki form input {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    #form-dang-ki form textarea {
        width: 80%;
        margin: 0 auto;
    }

    .context-desc.section-lienhe {
        padding-top: 0%;
    }

    #lienhe_div .audio-player.card {
        max-width: 220px;
        margin-top: 0%;
        max-height: 300px !important;
    }

    a.linked-prj {
        margin-top: 0%;
        text-align: center;
    }

    a.linked-prj:after {
        left: 50%;
        transform: translateX(-50%);
    }

    .section-buttons span {
        display: block;
        margin: 5px auto;
    }

    .section-buttons {
        margin-top: 5%;
        margin-left: 0px;
    }

    #form-dang-ki {
        /* padding-top: 33em; */
        position: relative;
        display: block;
        margin: 0 auto 0;
        top: 0;
        /* margin: 0; */
        width: 90%;
        margin-top: 24px;
        right: 0;
        padding: 1em;
        transform: translateY(0);
    }

    #landing-menu ul li a.nav-link {
        font-size: 1em;
        text-align: center;
    }

    .section-title h2 {
        padding-bottom: 0.5em;
    }

    .context-desc {
        width: 100vw;
        display: block;
        position: relative;
        height: auto;
    }

    .section-title {
        padding-top: 5%;
        padding-left: 0;
    }

    .section-lienhe .section-title {
        padding-bottom: 20%;
    }

    .vertical-scrolling {
        height: auto;
        min-height: auto;
    }

    div#frame-contact {
        height: 100%;
        padding-top: 0px
    }

    section.vertical-scrolling.fp-section.active.fp-table.fp-completely {
        display: block !important;
    }

    html {
        font-size: 70%;
    }

    .fullbg {
        overflow: hidden;
        width: 100vw;
        display: block;
        margin-top: 50px !important;
        position: static;
        top: 0px;
        background-position: center center !important;
        height: 300px !important;
        position: relative;
        z-index: 1000;
    }

    div#frame-video {
        padding-left: 0px;
        padding-top: 0px;
    }

    #company-title {
        text-align: center;
    }

    .text-title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .bottom-line::after {
        left: 50%;
        transform: translateX(-50%);
    }

    #fp-nav {
        left: 10px;
    }

    #menu-ngang {
        background-color: #232323 !important;
        display: block;
        position: relative;
    }

    .gradient-text {
        text-align: center;
    }

    #navy__themanh .context-desc h2 {
        margin-bottom: 5px;
    }

    .img-section__img {
        width: 100%;
        max-height: 50vh;
        position: static;
    }

    .img-section--active .img-section__img,
    .no-js .img-section__img {
        width: 100%;
    }

    .img-section__img img {
        position: static;
        width: 100%;
        min-height: auto;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .img-section__copy {
        width: 100%;
        padding: 70px 70px 70px 120px;
        padding: 20px;
        position: static;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .img-section__copy__content {
        width: 100%;
    }

    .img-section--right+.padding-lg {
        padding-top: 50px;
    }

    .img-section--left {
        margin: 0 0 0 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    * {}

    .pics .card {
        max-height: 400px;
    }

    h2.text-title {
        font-size: 0.8125em;
        text-align: center;
    }

    .container-section {
        max-height: 500px;
        width: 100vw;
    }

    .gradient-text {
        text-align: center;
    }

    h2#company-title {
        font-size: 3em;
    }

    .fullbg {
        width: 100vw;
        height: 500px !important;
    }

    .section-title {
        padding-top: 5%;
    }

    .context-desc {
        width: 100vw;
        height: auto;
    }

    .text-title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .bottom-line::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .img-section__img {
        width: 100%;
        max-height: 50vh;
        position: static;
    }

    .img-section--active .img-section__img,
    .no-js .img-section__img {
        width: 100%;
    }

    .img-section__img img {
        position: static;
        width: 100%;
        min-height: auto;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .img-section__copy {
        width: 100%;
        padding: 70px 70px 70px 120px;
        padding: 70px 30px 70px 80px;
        position: static;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .img-section__copy__content {
        width: 100%;
    }

    .img-section--right+.padding-lg {
        padding-top: 50px;
    }

    .img-section--left {
        margin: 0 0 0 0;
    }
}
article.products__title>h4>a{
    color: var(--titleColor);
}
.hidden {
    display: none;
}